$icon-font-path: "/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "react-widgets/dist/css/react-widgets";
@import "fuelux/dist/css/fuelux.min";

@import "organizations.scss";

body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.aemter-table {
    height: 250px;
}

.big-dropdown-menu {
    min-width: 300px;
    padding: 10px;
}

.add-person-label {
    text-align: left !important;
}