// Change the names of the classes to your organization names in config.js

.org1 {
    background: #8092DE;
}

.org2 {
    background: blue;
    color: #939496;
}

// This class is for the common block at the bottom

.common {
    background: black;
    color: white;
}
